*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/shelf/Uncommitted_changes_before_Update_at_2021-05-22_12_18_AM_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2021-05-22_12_18_AM__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_20_01_2021_07_05___Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_20_01_2021_07_05_ص_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_26_05_2021_02_50___Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_26_05_2021_02_50_ص_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_27_05_2021_08_35___Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_27_05_2021_08_35_م_[Default_Changelist]/shelved.patch
